/**
En este primer archivo CSS se trabajan los conceptos y la Sintaxis de CSS:
Conector, propiedad, valor; Cajas o boxemodel 
*/
* {
    color: aliceblue;
}
body{
    background-color:rgb(20, 23, 27);
}
h1{
    font-family: Tahoma;
    border: 2px solid greenyellow;
    padding: 5px;
    margin-right: 2px;
    color: rgb(239 176 158);
    /* background-color:#15263b; */
    width: 1000px;
}
/**
Esto es un Comentario dentro de CSS...
En el h2 de abajo, se puede ver como los espacios de "top","right","botton" y "left", se pueden definir
todos en una misma linea siguiendo el sentido de las agujas del reloj.
*/
h2{
    font-family: sans-serif;
    color: rgb(73, 73, 187);
    margin: 5px 60px 5px 40px;
}
p{
    padding: 10px;
    margin: 5px;
    color: rgb(0, 162, 255);
    font-size: 5mm;
    background-color:rgb(21, 38, 59);
}
/**
top: Arriba , right: derecha, botton: abajo, left: izquierda.
*/
dl, dt{
    font-family: "Brush Script MT";
    color: rgb(47, 161, 236);
    padding-top: 5px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
}
/**
Seccion de Boxmodel (CSS3)
*/
section{
    width: 300px;
    border: 2px solid greenyellow;
    padding: 100px;
    background-color:rgb(18, 18, 63);
    color: azure;
}
section p{
    color: rgb(47, 161, 236);
    padding-top: 5px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
}
/**
Uso de "Id" identificador unico en CSS
*/
#identificador_unico{
    color: firebrick;
}
/**
Uso de "Class" Clases en CSS. Sirve para reutilizar codigo, y no colocar los estilos directamente en los
tags, es decir, en los tipos de etiquetas
*/
.clasegris{
    color: rgb(80, 87, 97);
}