/**
Estas son pruebas que no siguen ningun curso en particular.
Solo mis ganas de hacer algunos experimentos 🧪
*/
.fixed {
    position: fixed;
    background-color:rgb(20, 23, 27);
    font-family: Tahoma;
    font-size: 10mm;
    color: azure;
}
body{
    background-color:rgb(20, 23, 27);
    color:rgb(112, 197, 212);
    font-family: Tahoma;
    font-size: 8mm;
}